@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: white;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/estrellasVarias.svg");
  padding: 30px;
  gap: 15px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.veigar {
  position: fixed;
  top: 165px;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  cursor: pointer;
  border: 1px solid #4d4d4d;
  width: 50%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  overflow: hidden;
  padding: 20px;

  @media (max-width: 576px) {
    width: 100%;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .titulo {
      font-size: 50px;
      font-weight: 700;
    }

    .descripcion {
      font-size: 16px;
    }
  }
}

.contentsvg {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -500px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
}

.cuadros {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
}

.card:hover {
  .contentsvg {
    bottom: -100px;
  }

  .cuadros {
    transform: rotate(37deg) rotateX(5deg) rotateY(12deg) skew(2deg) skewY(1deg)
      scaleX(1.2) scaleY(1.2);
  }
}

/*:::::Inicia Footer*/
.pie-pagina {
  width: 100%;
  background-color: #000000;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box a {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 20px;
  background-color: #000000;
  text-align: center;
  transition: all 300ms ease;
  font-size: 35px;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #000000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/* Fin de Footer*/
